<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/plantilla :: head">
	<meta charset="UTF-8">
	<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Crear proveedores</title>
</head>
<body>
	<header th:replace="/plantilla :: header"> </header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
			<div class="card-body">
				<form th:action="@{/provReembolsos/save}" th:object="${proveedor}" method="post">
					<div class="form-group row">
						<input type="hidden" th:field="*{id_provreem}"> <label
							class="col-md-4" for="nit">Digite NIT</label> <input
							th:field="*{nit}" class="form-control form-control-sm col-md-6"
							id="nit" placeholder="Digite solo nùmeros" /> <small
							class="form-text text-danger" th:if="${#fields.hasErrors('nit')}"
							th:errors="*{nit}"> </small>						
					</div>
					<div class="form-group row">
						<label class="col-md-4" for="cod_ver">Código de verificación</label> <input
							type="number" th:field="*{cod_ver}" class="form-control form-control-sm col-md-6"
							id="cor_ver" placeholder="Digite solo nùmeros"> <small></small>
					</div>
					<div class="form-group row">
						<label class="col-md-4" for="cod_ecsi">Código proveedor ECSI</label> <input
							type="number" th:field="*{cod_ecsi}" class="form-control form-control-sm col-md-6"
							id="cod_ecsi" placeholder="Digite solo nùmeros"> <small></small>
					</div>
					<div class="form-group row">
						<label class="col-md-4" for="razon">Razón social</label> <input
							type="text" th:field="*{razon}" class="form-control form-control-sm col-md-6"
							id="razon" placeholder="Solo en mayúscula"> <small></small>
					</div>
					<div class="form-group row">
						<label class="col-md-4" for="direccion">Dirección</label> <input
							type="text" th:field="*{direccion}" class="form-control form-control-sm col-md-6"
							id="direccion" placeholder=""> <small></small>
					</div>
					<div class="form-group row">
						<label class="col-md-4" for="telefono">Teléfono</label> <input
							type="tel" th:field="*{telefono}" class="form-control form-control-sm col-md-6"
							id="telefono" placeholder="Digite solo nùmeros"> <small></small>
					</div>
					<div class="form-group row">
						<label class="col-md-4" for="correo">Correo electrónico</label> <input
							type="email" th:field="*{correo}" class="form-control form-control-sm col-md-6"
							id="correo" placeholder="Digite el e-mail"> <small></small>
					</div>
					<div class="form-group row">
						<label class="col-md-4" for="cod_mun">Código de municipio</label> <input
							type="number" th:field="*{cod_mun}" class="form-control form-control-sm col-md-6"
							id="cod_mun" placeholder=""> <small></small>
					</div>
					<div class="form-group row">
						<label class="col-md-4" for="cod_depto">Código de departamento</label>
						 <input type="number" th:field="*{cod_depto}"
						  class="form-control form-control-sm col-md-6" id="cod_depto"
						   placeholder=""> <small></small>
					</div>
					<div class="form-group row">
						<label class="col-md-4" for="ciiu">Código de actividad económica</label>
						 <input type="number" th:field="*{ciiu}"
							class="form-control form-control-sm col-md-6" id="ciiu"
							placeholder=""> <small></small>
					</div>
					<div class="card-footer">
						<input type="submit" class="btn btn-primary btn-lg" value="Guardar" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<footer th:replace="/plantilla :: footer "> </footer>
</html>