<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/plantilla :: head">
<meta charset="UTF-8">
<title>Búsquedas</title>
</head>
<body>
	<header th:replace="/plantilla :: header"> </header>
	<br>
	<!-- <section class="btn-group" role="group">
		Botón de búsqueda por nombre
		<div>
			Button trigger modal
			<button type="button" class="btn btn-primary" data-toggle="modal"
				data-target="#exampleModalLong">Buscar por nombre de razón
				social</button>

			Modal
			<div class="modal fade" id="exampleModalLong" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalLongTitle"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<h3>Digite el nombre:</h3>
							<input class="form-control" type="text"
								placeholder="En mayúsculas">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Cerrar</button>
							<button type="button" class="btn btn-primary">Buscar</button>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</section> -->
	
	<table class="table">
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col">NIT</th>
					<th scope="col">Código verificación</th>
					<th scope="col">Código ECSI</th>
					<th scope="col">Razón social</th>
					<th scope="col">Dirección</th>
					<th scope="col">Teléfono</th>
					<th scope="col">Código mcpio</th>
					<th scope="col">Código de depto</th>
					<th scope="col">Correo</th>
					<th scope="col">CIIU</th>
					<th scope="col">Editar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="busqProveedor : ${proveedorPage}" th:object="${ProvReembolsos}">
					<td th:text="*{nit}"></td>
					<td th:text="*{cod_ver}"></td>
					<td th:text="*{nit}"></td>
					<td th:text="*{cod_ecsi}"></td>
					<td th:text="*{razon}"></td>
					<td th:text="*{direccion}"></td>
					<td th:text="*{telefono}"></td>
					<td th:text="*{cod_mun}"></td>
					<td th:text="*{cod_depto}"></td>
					<td th:text="*{ciiu}"></td>					
				</tr>
			</tbody>
		</table>
	

	<footer th:replace="/plantilla :: footer"></footer>

</body>
</html>